<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTgq6JXA_Cn3F-w8qmT2Ssudq8Uy24o18</string>
	<key>GCM_SENDER_ID</key>
	<string>608657907803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxiscout.driver</string>
	<key>PROJECT_ID</key>
	<string>taxiscout24-2</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiscout24-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608657907803:ios:3d4a7284670a2370159f7e</string>
	<key>DATABASE_URL</key>
	<string>https://taxiscout24-2-default-rtdb.firebaseio.com</string>
</dict>
</plist>